<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=yes, width-device-width, initial-scale=1.0,
maximum-scale=1.0">
    <title>TicketsInfo</title>
    <link th:href="@{/static/tickets-info.css}" rel="stylesheet">
</head>
<body>

<form method="GET" action="/tickets-price" target="_blank">
    <input name="id" type="text" id="id"/>
    <input type="submit" class="but" value="Проверить цену">
</form>

<div class="flightOffers" th:each="flightOffer: ${flightOffers}">
    <output name="id" th:text="${flightOffer.getId()}"></output>
    <div class="segmentDeparture" th:each="segment: ${flightOffer.getItineraries().get(0).getSegments()}">
        <table class="departure">
            <tr>
                <td><output name="iataCode" th:text="${segment.getDeparture().getIataCode()}"></output></td>
                <td><output name="iataCode" th:text="${segment.getArrival().getIataCode()}"></output></td>
            </tr>
            <tr>
                <td><output name="iataCode" th:text="${segment.getDeparture().getTerminal()}"></output></td>
                <td><output name="iataCode" th:text="${segment.getArrival().getTerminal()}"></output></td>
            </tr>
            <tr>
                <td><output name="iataCode" th:text="${segment.getDeparture().getAt()}"></output></td>
                <td><output name="iataCode" th:text="${segment.getArrival().getAt()}"></output></td>
            </tr>
        </table>
    </div>
    <div class="segmentReturn" th:each="segment: ${flightOffer.getItineraries().get(1).getSegments()}">
        <table class="return">
            <tr>
                <td><output name="iataCode" th:text="${segment.getDeparture().getIataCode()}"></output></td>
                <td><output name="iataCode" th:text="${segment.getArrival().getIataCode()}"></output></td>
            </tr>
            <tr>
                <td><output name="iataCode" th:text="${segment.getDeparture().getTerminal()}"></output></td>
                <td><output name="iataCode" th:text="${segment.getArrival().getTerminal()}"></output></td>
            </tr>
            <tr>
                <td><output name="iataCode" th:text="${segment.getDeparture().getAt()}"></output></td>
                <td><output name="iataCode" th:text="${segment.getArrival().getAt()}"></output></td>
            </tr>
        </table>
    </div>
    <p><output name="price" th:text="${flightOffer.getPrice().getTotal()}"></output>
        <output name="price" th:text="${flightOffer.getPrice().getCurrency()}"></output>
    </p>

</div>
</div>
</body>
</html>